@import 'tailwindcss';

:root {
  --c-beige: #f0eae5;
  --c-brown: #59380D;
  --c-red:#8e1e08 ;
  --c-orange: #FF8A58;
  --c-yellow: #F2C379;
}

*{
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
}

@layer utilities {
  .bg-beige {
    background-color: var(--c-beige);
  }

  .bg-brown{
    background-color: #2c1d0ad8;
  }
  .text-brown {
    color: var(--c-brown);
  }

  .text-pink {
    color: var(--c-pink);
  }

  .text-orange{
    color:var(--c-orange)
  }
  .text-red{
    color: var(--c-red);
  }

  .text-beige{
    color: var(--c-beige);
  }
  .bg-orange {
    background-color: var(--c-orange);
  }

  .hover\:bg-yellow:hover {
    background-color: var(--c-yellow);
  }
  .hover\:text-orange:hover {
    color: var(--c-orange);
  }

  @media (min-width: 450px) and (max-width: 640px) {
    .cols-between-450-sm {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
    }
  }
}