@import 'tailwindcss';

:root {
  --c-beige: #f0eae5;
  --c-brown: #59380D;
  --c-pink: #E1A8A8;
  --c-orange: #FF8A58;
  --c-yellow: #F2C379;
}

*{
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
}

@layer utilities {
  .bg-beige {
    background-color: var(--c-beige);
  }

  .text-brown {
    color: var(--c-brown);
  }

  .text-pink {
    color: var(--c-pink);
  }

  .text-orange{
    color:var(--c-orange)
  }

  .bg-orange {
    background-color: var(--c-orange);
  }

  .hover\:bg-yellow:hover {
    background-color: var(--c-yellow);
  }
}